VITE_API_URL=http://localhost:3000
VITE_SIGNALING_URL=ws://localhost:3000
VITE_MINECRAFT_DATA_URL=https://envirovoice-test-default-rtdb.europe-west1.firebasedatabase.app/minecraft.json
VITE_ENVIROVOICE_DATA_URL=https://envirovoice-test-default-rtdb.europe-west1.firebasedatabase.app/envirovoice.json
